/* main section */
main{
    margin-left:300px;
    background-color: var(--bgColor);
    transition: 0.3s;
 }
 
 @media only screen and (max-width:1050px){
    main{
        margin-left: 0;
    }
 }

 /* service section  */
 #service{
    padding: 70px 30px;
    background-color: white;
 }
 
 #service .service_row{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px
 }
 #service .service_row .service-box{
    display: flex;
    gap:20px;
 }
 
 #service .service_row .service_box .icon i{
   width:50px;
   height:50px;
   border-radius: 50%;
   border: 2px solid var(--themeColor);
   font-size: 22px;
   line-height: 46px;
   background-color: var(--themeColor);
   color: var(--bgColor);
   transition: 0.7s;
   text-align: center;
 }
 #service .service_row .service_box:hover .icon i{
    color:var(--themeColor);
    background-color: var(--bgColor);
 }
 
 #service .service_row .service_box .ser_info h4{
    color: var(--sideBGColor);
    font-size: 20px;
    font-weight: 600;
 }
 
 #service .service_row .service_box .ser_info h4 + p{
    color: var(--textColor);
    font-size: 14px;
    font-weight: 500;
 
 }
 
 /* mobile view */
 @media only screen and (max-width:750px){
    #service{
       padding: 50px 15px;
    }
    
    #service .service_row{
 
       grid-template-columns: repeat(2,1fr);
       grid-gap:15px
    }
 }
 /* mobile view */
 @media only screen and (max-width:550px){
 
    #service .service_row{
 
       grid-template-columns: repeat(1,1fr);
       grid-gap:15px
    }
 }
 
