{% extends "layout.html" %}

{% block content %}
<main>
    <section id="portfolio">
        <h1 class="sub_heading">Portfolio</h1>
        <div class="divider"></div>
        <p>Explore my diverse portfolio showcasing a range of web development projects. From interactive React applications to robust Node.js backends, each project reflects my commitment to creating innovative and user-centric solutions. Check out the examples below to get a glimpse of my skills and approach to web development.</p>
       
        <div class="port_row">
            <!-- portfolio item-1 -->       
            <div class="port_item">
                <div class="port_img">
                    <img src="{{url_for('static', filename='images/abe_gerage.jpg')}}" alt="">
                </div>
                <div class="port_info">
                    <h4>Abe Garage</h4>
                    <p>Explore our feature-rich garage website for a seamless experience in automotive services and repairs. Discover a user-friendly interface showcasing our services, expertise, and customer testimonials, making your garage experience both reliable and convenient.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>        
                </div>
            </div>

             <!-- portfolio item-2 -->
             <div class="port_item">
                <div class="port_img">
                    <img src="{{url_for('static', filename='images/nayna_resturant.jpg')}}" alt="">
                </div>
                <div class="port_info">
                    <h4>Nayna Restaurant </h4>
                    <p>Discover a virtual culinary haven on our meticulously designed restaurant website, showcasing a delectable menu and inviting ambiance. Seamlessly reserve online and immerse yourself in the vibrant flavors that define our gastronomic destination.</p>
                    
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>       
                </div>
            </div>
             <!-- portfolio item-3 -->
           
            <div class="port_item">
                <div class="port_img">
                    <img src="{{url_for('static', filename='images/red_sea.png')}}" alt="">
                </div>
                <div class="port_info">
                    <h4>Hdmona Money Transfer </h4>
                    <p>Explore a WordPress-based platform facilitating swift and secure money transfers from the UK to Ethiopia. Experience seamless transactions, ensuring convenience in international fund transfers and fostering financial connectivity between nations.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>       
                </div>
            </div>

           


     </section>
</main>
{% endblock content %}


{% block title %}
portfolio page
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/portfolio.css') }}">
{% endblock %}

