{% extends "layout.html" %}

{% block content %}
<main>
    <section id="portfolio">
        <h1 class="sub_heading">Portfolio</h1>
        <div class="divider"></div>
        <p>Explore my diverse portfolio showcasing a range of web development projects. From interactive React applications to robust Node.js backends, each project reflects my commitment to creating innovative and user-centric solutions. Check out the examples below to get a glimpse of my skills and approach to web development.</p>
       
        <div class="port_row">
            <!-- portfolio item-1 -->
            <div class="port_item">
                <div class="port_img">
                    <img src="{{url_for('static', filename='images/P_1.png')}}" alt="">
                </div>
                <div class="port_info">
                    <h4>Money Transfer Website</h4>
                    <p>Explore a WordPress-based platform facilitating swift and secure money transfers from the UK to Ethiopia. Experience seamless transactions, ensuring convenience in international fund transfers and fostering financial connectivity between nations.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>       
                </div>
            </div>

            <!-- portfolio item-2 -->
            <div class="port_item">
                <div class="port_img">
                    <img src="{{url_for('static', filename='images/profile.jpg')}}" alt="">
                </div>
                <div class="port_info">
                    <h4>Restaurant Website</h4>
                    <p>Discover a virtual culinary haven on our meticulously designed restaurant website, showcasing a delectable menu and inviting ambiance. Seamlessly reserve online and immerse yourself in the vibrant flavors that define our gastronomic destination.</p>
                    
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>       
                </div>
            </div>

            <!-- portfolio item-3 -->
            <div class="port_item">
                <div class="port_img">
                    <img src="{{url_for('static', filename='images/profile.jpg')}}" alt="">
                </div>
                <div class="port_info">
                    <h4>Real Estate W</h4>
                    <p>Explore our feature-rich real estate website for a seamless property search and investment experience. Discover a user-friendly interface showcasing properties, neighborhood details, and investment opportunities, making your real estate journey both informative and convenient.</p>
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>        
                </div>
            </div>

 

                 <!-- portfolio item-2 -->
            <div class="port_item">
                <div class="port_img">
                    <img src="{{url_for('static', filename='images/profile.jpg')}}" alt="">
                </div>
                <div class="port_info">
                    <h4>wordpress</h4>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus provident.</p> 
                    <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>       
                </div>
            </div>
            
        </div>
     </section>
</main>
{% endblock content %}


{% block title %}
portfolio page
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/portfolio.css') }}">
{% endblock %}

