{% extends "layout.html" %}

{% block content %} 
<main>
    <section id="resume">
        <h1 class="sub_heading">Resume</h1>
        <div class="divider"></div>
        <p class="sub_para">Passionate web developer skilled in creating dynamic and responsive applications using HTML, CSS, JavaScript, React, Node.js, Python, Flask, and Django. A versatile professional committed to staying at the forefront of technology trends, delivering seamless user experiences, and contributing to innovative solutions in web development.</p>
        <div class="resume_row"> 
            <!-- left col -->
            <div class="resume_cols">
                <h2>Summary</h2>
                <div class="my_info">
                    <h3>Muruts M</h3>
                    <p>Results-oriented and highly motivated web developer with a passion for creating dynamic and visually appealing websites. Proficient in HTML, CSS, and JavaScript, with hands-on experience in building responsive and user-friendly interfaces. Adept at collaborating with cross-functional teams to deliver high-quality solutions. Strong problem-solving skills and a commitment to staying up-to-date with the latest industry trends. Excited to contribute technical expertise to innovative web development projects.</p>  
                    <ul>
                        <li>Dublin 22, Ireland</li>
                        <li>+(353) 833 018 405</li>
                        <li>murutsmenge21@gmail.com</li>
                    </ul>
                </div>   

                <h2>Education</h2>
                <div class="my_edu">
                    <h3> Bsc of Degree in Civil Engineering</h3>
                    <span class="sp_box">2013-2018</span>
                    <p>Ethiopia Institute of Technology Mekelle</p>
                    <p>Although my academic focus was on Civil Engineering, my passion for technology led me to explore software development during my Bachelor's degree thesis. I undertook a project that involved implementing software solutions to enhance efficiency in construction processes. This experience allowed me to bridge the gap between my engineering background and the world of software development. I successfully applied programming skills and collaborated with a multidisciplinary team to create innovative solutions, showcasing my adaptability and commitment to exploring diverse aspects of technology.</p>
                </div>

                
            </div>
            <!-- right col -->
            <div class="resume_cols">
                <h2>Professional Exprience</h2>
                <div class="pro_exp">
                    <h3>Office Engineer</h3>
                    <span class="sp_box">2018-2020</span>
                    <p>Adiss Ababa, Ethiopia</p>
                    <ul>
                        <li>Implementing innovative solutions to enhance project efficiency.</li>
                        <li>Collaborating with diverse teams to address project challenges and ensure smooth workflows.</li>
                        <li>Leading efforts to optimize construction processes and improve overall project outcomes.</li>
                        <li>Continuously staying abreast of industry trends and incorporating best practices into project strategies.</li>
                    </ul>        
                </div>

                <div class="pro_exp">
                    <h3>Office Engineer</h3>
                    <span class="sp_box">2020-2022</span>
                    <p>Adiss Ababa, Ethiopia</p>

                    <ul>
                        <li>Ensuring the timely and cost-effective completion of construction projects.</li>
                        <li>Collaborating with cross-functional teams to address project requirements.</li>
                        <li>Implementing quality control measures to ensure adherence to engineering standards.</li>
                        <li>Managing project documentation and communication with stakeholders.</li>
                    </ul>   
                </div>  

            </div>
        </div>

    </section>
</main>
{% endblock %} 

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/resume.css') }}">
{% endblock %}
