{% extends "layout.html" %}

{% block content %}

<main>
    <section id="service">
        <h1 class="sub_heading">Service</h1>
        <div class="divider"></div>
        <p>As a dedicated web developer, I am passionate about crafting engaging and user-friendly websites. Leveraging my skills in HTML, CSS, and JavaScript, I create seamless and visually appealing online experiences. Whether it's designing responsive layouts, implementing interactive features, or optimizing performance, I strive to deliver high-quality solutions. My commitment to staying updated with the latest web technologies ensures that I can meet the diverse needs of clients and users. Let's collaborate to bring your digital vision to life!</p>

        <div class="service_row">
            <!-- service-1 -->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Explore a WordPress-based platform facilitating swift and secure money transfers from the UK to Ethiopia. Experience seamless transactions, ensuring convenience in international fund transfers and fostering financial connectivity between nations.</p>
                </div>
            </div>

            <!-- service-2 -->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-list-check"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Discover a virtual culinary haven on our meticulously designed restaurant website, showcasing a delectable menu and inviting ambiance. Seamlessly reserve online and immerse yourself in the vibrant flavors that define our gastronomic destination.</p>
                </div>
            </div>

            <!-- service-3 -->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-chart-bar"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Explore my diverse portfolio showcasing a range of web development projects. From interactive React applications to robust Node.js backends, each project reflects my commitment to creating innovative and user-centric solutions. Check out the examples below to get a glimpse of my skills and approach to web development.</p>
                </div>
            </div>

            <!-- service-4 -->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-binoculars"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Explore a WordPress-based platform facilitating swift and secure money transfers from the UK to Ethiopia. Experience seamless transactions, ensuring convenience in international fund transfers and fostering financial connectivity between nations.</p>
                </div>
            </div>

            <!-- service-5-->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-sun"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Explore my diverse portfolio showcasing a range of web development projects. From interactive React applications to robust Node.js backends, each project reflects my commitment to creating innovative and user-centric solutions. Check out the examples below to get a glimpse of my skills and approach to web development.</p>
                </div>
            </div>

                <!-- service-6-->
                <div class="service_box">
                <div class="icon">
                    <i class="fa-bradns fa-slack"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Discover a virtual culinary haven on our meticulously designed restaurant website, showcasing a delectable menu and inviting ambiance. Seamlessly reserve online and immerse yourself in the vibrant flavors that define our gastronomic destination.</p>
                </div>

            </div>

        </div>
    </section>
</main>

{% endblock content %}


{% block title %}
About Page
{% endblock %} 

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/service.css') }}">
{% endblock %}