{% extends "layout.html" %}

{% block content %}

    <main>
    <section id="service">
        <h1 class="sub_heading">Service</h1>
        <div class="divider"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora consequuntur dolores iusto minima consequatur magnam eius iure accusamus nostrum corporis, perferendis repudiandae nihil inventore enim illum ad temporibus hic necessitatibus!</p>

        <div class="service_row">
            <!-- service-1 -->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-briefcase"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias necessitatibus a quaerat id molestiae excepturi voluptatibus nemo sunt repellat. Voluptatum, exercitationem illo cupiditate cum quo ab harum quidem commodi alias.</p>
                </div>
            </div>

            <!-- service-2 -->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-list-check"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias necessitatibus a quaerat id molestiae excepturi voluptatibus nemo sunt repellat. Voluptatum, exercitationem illo cupiditate cum quo ab harum quidem commodi alias.</p>
                </div>
            </div>

            <!-- service-3 -->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-chart-bar"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias necessitatibus a quaerat id molestiae excepturi voluptatibus nemo sunt repellat. Voluptatum, exercitationem illo cupiditate cum quo ab harum quidem commodi alias.</p>
                </div>
            </div>

            <!-- service-4 -->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-binoculars"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias necessitatibus a quaerat id molestiae excepturi voluptatibus nemo sunt repellat. Voluptatum, exercitationem illo cupiditate cum quo ab harum quidem commodi alias.</p>
                </div>
            </div>

            <!-- service-5-->
            <div class="service_box">
                <div class="icon">
                    <i class="fa-solid fa-sun"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias necessitatibus a quaerat id molestiae excepturi voluptatibus nemo sunt repellat. Voluptatum, exercitationem illo cupiditate cum quo ab harum quidem commodi alias.</p>
                </div>
            </div>

                <!-- service-6-->
                <div class="service_box">
                <div class="icon">
                    <i class="fa-bradns fa-slack"></i>
                </div>
                <div class="ser_info">
                    <h4>web design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias necessitatibus a quaerat id molestiae excepturi voluptatibus nemo sunt repellat. Voluptatum, exercitationem illo cupiditate cum quo ab harum quidem commodi alias.</p>
                </div>

            </div>

        </div>
    </section>
    </main>

{% endblock content %}