{% extends "layout.html" %}

{% block content %}

<main>
    <section id="skill">
        <h1 class="sub-heading">Skills</h1>
        <div class="divider"></div>
        <p class="sub_para">As a seasoned web developer, I've honed my skills in various technologies, ensuring a well-rounded expertise in crafting exceptional digital experiences. Here's a snapshot of my proficiency:</p>
        
        <div class="skill_row">
            {% for skill in skills_list %}
                <!-- skill-1 -->
                <div class="skill_box">
                    <div class="skill_info">
                        <h2>{{skill.name}}</h2>
                        <h2>{{skill.percentage}}%</h2>
                    </div>
                    <div class="skill_outer_line">
                        <div class="skill_inner_line" data-percentage="{{ skill.percentage }}"></div>
                    </div>
                </div>
            {% endfor %} 
        </div>
    
    </section>
</main>
{% endblock  %}

{% block title %}
 skill page
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/skill.css') }}">
{% endblock %}